<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/stylefordashboard.css">

	<!-- fa fa font -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Horizone</title>
</head>


<body>

    <%- include ('../include/sideBarAdmin') -%> 
    
    <div class="main-content">   
        <main>
            <h2 class="dash-title">ADMIN PAGE</h2>
            <div class="dash-cards">
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-braille"></span>
                        <div>
                            <h5>Event All</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/adminEvent">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-check-square"></span>
                        <div>
                            <h5>Confirm event</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/confirmEvent">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-tasks"></span>
                        <div>
                            <h5>Category </h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/category">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-archive"></span>
                        <div>
                            <h5> Position</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/position">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-users"></span>
                        <div>
                            <h5> Organizer</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/member">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-sign-language"></span>
                        <div>
                            <h5> Cooperative</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/cooperative">View</a>
                    </div>
                </div>
                <div class="card-single">
                    <div class="card-body">
                        <span class="fa fa-blind"></span>
                        <div>
                            <h5> Guest</h5>
                        </div>
                    </div>
                    <div class="card-footer" style="background-color: #8B475D;">
                        <a href="/guest">View</a>
                    </div>
                </div>
            </div> 
        </main>  
    </div>

</body>

</html>