<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">

    <title>Horizone</title>
</head>

<body>
    <div class="container">
        <%- include ('./include/header') -%> 
        <div class="row custom-section d-flex align-items-center">
            <div class="col-12 col-lg-4">
                <h2>Manage Event</h2>
                <h3>Website</h3>
                <p>Bring great experiences!</p>
                <a href="/register">Learn more</a>
            </div>
            <div class="col-12 col-lg-8">
                <img src="img/mainbenner.png" alt="Team process banner">
            </div>
        </div>
    </div>
    <div class="container-fluid">
      <section class="feature">
        <div class="feature__content container container--pall">
          <div class="feature_intro">
            <h2>Why choose Horizone?</h2>
            <p>
              Because we focus on results. For us, it’s all about what adds value for you and your business.
              Above all, we want our words to work for you.
            </p>
          </div>
          <div class="feature_grid">
            <div class="feature_item">
              <div class="feature_icon">
                <img src="/img/setting.png" />
              </div>
              <div class="feature_title">Create Event</div>
              <div class="feature_description">
                Event organization is the organization of activities in the fields of society, commerce, business, entertainment, sports, ... through forms such as seminars, conferences, press conferences, exhibitions, festivals. , … aims to convey the messages that event makers want their public to perceive.
                Organizing an event is essentially creating an excuse to attract the attention and attention of the media and the target audience.
              </div>
            </div>
            <div class="feature_item">
              <div class="feature_icon">
                <img src="/img/sta1.png" />
              </div>
              <div class="feature_title">Event Statistics</div>
              <div class="feature_description">
                Statistics is a mathematical body of science that pertains to the collection, analysis, interpretation or explanation, and presentation of data, or as a branch of mathematics. Some consider statistics to be a distinct mathematical science rather than a branch of mathematics.
                While many scientific investigations make use of data, statistics is concerned with the use of data in the context of uncertainty and decision making in the face of uncertainty.
              </div>
            </div>
            <div class="feature_item">
              <div class="feature_icon">
                <img src="/img/setting1.png"/>
              </div>
              <div class="feature_title">Join Event</div>
              <div class="feature_description">
                Volunteering activities are becoming more and more popular in today's life. Because the more modern the world is, the more people fall into extreme poverty. Therefore, volunteer activities and campaigns are organized to bring help to those difficult situations.
                Besides, volunteers also have the opportunity to collect valuable practical experiences and improve themselves. Why is that? The benefits that volunteering brings out in the article below will be the most satisfactory answer for you.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <%- include ('./include/footer') -%> 


</body>

</html>