<input type="checkbox" id="sidebar-toggle">
<div class="sidebar" style="background-color: #8B475D;">
    <div class="sidebar-header">
        <h3 class="brand">
            <a href="/admin" style="font-size: 30px;"><span>Horizone</span></a>
        </h3> 
        <label for="sidebar-toggle" class="fa fa-bars"></label>
    </div>
    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/admin">
                    <span class="fa fa-home"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/adminEvent">
                    <span class="fa fa-braille"></span>
                    <span>Event</span>
                </a>
            </li>
            <li>
                <a href="/confirmEvent">
                    <span class="fa fa-check-square"></span>
                    <span>Confirm</span>
                </a>
            </li>
            <li>
                <a href="/category">
                    <span class="fa fa-tasks"></span>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="/position">
                    <span class="fa fa-archive"></span>
                    <span>Position</span>
                </a>
            </li>
            <li>
                <a href="/member">
                    <span class="fa fa-users"></span>
                    <span>Member</span>
                </a>
            </li>
            <li>
                <a href="guest">
                    <span class="fa fa-blind"></span>
                    <span>Guest</span>
                </a>
            </li>
            <li>
                <a href="/cooperative">
                    <span class="fa fa-sign-language"></span>
                    <span>Coooperative</span>
                </a>
            </li>
            <li>
            <li>
                <a href="/logout">
                    <span class="fa fa-power-off"></span>
                    <span>Sign Out</span>
                </a>
            </li>

        </ul>
    </div>
</div>
<header> 
    <h6 style="margin-top: 8px;">Welcome Admin</h6>
    <img src="/img/avatar-default.jpg" >
</header>